th {
  color: #37ac9e;

}

@media screen and (max-width: 600px) {
  .table,
  .td {
    font-family: arial, sans-serif;
    margin-top: 10px;
    font-size: 0.6rem;
    margin: 0px;
    padding: 0px;
  }
}


.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.rank-wrapper {
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 40%;
    text-align: center;
}

.table-container h3 {
  color : #3cafa1;
}
.table-responsive {
  width: 100%;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background: linear-gradient(56deg, rgba(54,119,144,1) 0%, rgba(60,175,161,1) 0%);
  opacity: 0.8;
  color : white;
  text-align: center;
}